body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001d43;
  color: white;
}

header {
  background-color: #a9a9a9;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

header nav ul li {
  position: relative;
  margin-right: 20px;
  background-color: #FFC107;
  border-radius: 5px;
}

header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
}

header nav ul li .dropdown-conteudo {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header nav ul li .dropdown-conteudo li {
  margin: 0;
}

header nav ul li .dropdown-conteudo li a {
  color: #001d43;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header nav ul li .dropdown-conteudo li a:hover {
  background-color: #ddd;
}

header nav ul li:hover .dropdown-conteudo {
  display: block;
}

main .conteudo {
  max-width: 800px;
  margin-left: 80px;
}

main .propositos {
    flex-direction: row-reverse;
}
.heroi,
.propositos {
  padding: 50px 20px;
  display: flex;
  align-items: center;
}

footer {
  background-color: #a9a9a9;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer .rodape {
  max-width: 800px;
  margin: 0 auto;
}

footer nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

