
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001D43;
    color: white;
}


header {
    background-color: #b9b9b9;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

header .logo img {
    height: 50px;
}


header nav ul {
    list-style: none;
    display: flex;
}


header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}


header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a.active {
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
}


.login-section {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.login-section h2 {
    margin-bottom: 20px;
    color: #0044cc;
}


form {
    display: grid;
    gap: 10px;
}

form label {
    text-align: left;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


form button {
    background-color: #0044cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


footer {
    background-color: #A9A9A9;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
