
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001D43;
    color: white;
}


header {
    background-color: #A9A9A9;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}


header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a.active {
    font-weight: bold;
}


main {
    padding: 20px;
}


.approved-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    height: 440px;
}
 
.approved-section h2 {
    color: #000;
}

.status img{
    height: 40px;
}
.approved-list {
    width: 45%;
}


.approved-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.details {
    width: 45%;
}


.details h3,
.details h4 {
    margin-top: 0;
}

footer {
    background-color: #A9A9A9;
    color: white;
    text-align: center;
    padding: 30px 0;
   
}
